/* 1. BASE STYLES (Smartwatches & Small Phones) */
/* This CSS applies to EVERYTHING by default */
body {
  font-size: 100%; /* 16px */
  padding: 1rem;
}

@media (max-width: 970px) {
  * {
    /* font-size: 90% ; */

  }
  #header{
    height: auto;
  }
  #navBar{
    
    flex-direction: column;
    gap: 20px;
  }
  #log{
    width: 100%;
    display: flex;
    justify-content: center;
    /* update */
  }
  #log img{
    width: auto;
  }
 
  #manu{
    order: 2;
  width: 100%;

}
#manu ul{
  flex-direction: row;
  align-items: center;
  

}
#manu ul li{
  border-radius: 3px;
  width: 30%;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
#manu ul li a{
  width: 100% !important;
  /* color: white; */
  cursor: pointer;

}
#NavBtn{
  width: 100%;
  text-align: center;
  /* background-color: brown; */
}
#coverDiv{
  flex-direction: column-reverse;
}
#coverDivTwo{
  flex-direction: column-reverse;
}
#wordingMain, #imageOne{
  width: 100%;
}
#wordingMainTwo, #imageTwo{
  width: 100%;
}
#cardContainer{
  flex-direction: column;
  align-items: center;
  padding: 24px;
}
#card{
  width: 100%;
  height: auto;
}
#formCantainer{
  /* width: 100px; */
  align-items: center;
  padding: 5px;
  
}
#formCantainer form input{
    min-width: 400px;
  width: auto;
}
#formCantainer form label{
    min-width: 400px;
  width: auto;
}
}
@media (max-width: 600px) {
  #formCantainer form input{
    min-width: 250px;
  width: auto;
}
#formCantainer form label{
    min-width: 250px;
  width: auto;
}

}
