/* 1. BASE STYLES (Smartwatches & Small Phones) */
/* This CSS applies to EVERYTHING by default */
body {
  font-size: 100%; /* 16px */
  padding: 1rem;
}

@media (max-width: 970px) {
  * {
    /* font-size: 90% ; */

  }
  #header{
    height: auto;
  }
  #navBar{
    
    flex-direction: column;
    gap: 20px;
  }
 
  #manu{
    
  width: 100%;

}
#manu ul{
  flex-direction: column;
  align-items: center;
  

}
#manu ul li{
  border-radius: 3px;
  width: 30%;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
#manu ul li a{
  width: 100% !important;
  /* color: white; */
  cursor: pointer;

}
#NavBtn{
  width: 100%;
  /* background-color: brown; */
}
#NavBtn button{
width: 100%;
}
}