/* Complete body Start */

* {
  margin: 0;
  padding: 0;
  font-family: "Poppies", sans-serif;
}
body{
  background-color: aliceblue;

}
img{
  width: 100%;
}
.container {
width: 90%;
margin: 0 auto;
}
header{
  border-bottom:3px solid blue ;
  background-color: white;

}
.header-div{
  background-color: transparent;
display: grid;
height: 70px;
align-items: center;
grid-template-columns: auto 1fr auto;
}
nav ul {
  
  display: grid;
  justify-items: center;

  grid-template-columns:auto auto auto auto;
}
nav ul li{
  list-style: none;
}
nav ul li a{
  
  text-decoration: none;
}
.primryBtn{
  padding: 8px 55px;
  border-radius: 8px;
  background-color: blue;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
